<h3>
  <i class="fas fa-display"></i>
  Showcase
</h3>
<div class="section">
  <p class="lead">Create a public or private display of anything</p>
</div>
<div class="divider"></div>
<div class="section">
  <a href="/auth/google" class="btn red darken-1">
    <i class="fab fa-google left"></i>
    Log In With Google
  </a>
</div>