<h3>Add Entry</h3>
<div class="row">
  <form action="/entries" method="post" class="col s12">

    <div class="row">
      <div class="input-field">
        <input type="text" id="title" name="title">
        <label for="title">
          Title
        </label>
      </div>
    </div>

    <div class="row">
      <div class="input-field">
        <select name="status" id="status">
          <option value="public" selected>Public</option>
          <option value="private">Private</option>
        </select>
        <label for="status">
          Status
        </label>
      </div>
    </div>

    <div class="row">
      <div class="input-field">
        <h5>
          Enter an Entry:
        </h5>
        <textarea name="body" id="body"></textarea>
      </div>
    </div>

    <div class="row">
      <input type="submit" class="btn" value="Save">
      <a href="/dashboard" class="btn orange">
        Cancel
      </a>
    </div>

  </form>
</div>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.19.1/ckeditor.js"
  integrity="sha512-Ooi9IbjM2SIDjQ02ENbPFuuORT8F8Rc+rowcYfLneDwKRxw1+gVVj5tciVmV/APnA/Ys+qy1MbNKK3k2EaAHcw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer">
</script>
<script>
  CKEDITOR.replace('body', {
    plugins: 'basicstyles, link, toolbar, wysiwygarea',
  });
</script>